Code/
go/
dconf/
glib-*/
gtk-*/
matplotlib/
pulse/
qalculate/
OpenRGB/
systemd/
vlc/
warp-terminal/
xfce4/
inkscape/
JetBrains/
pupgui/
deluge/
xdg-desktop-portal/

user-dirs.*
QtProject.conf
mimeapps.list
Kitware/CMakeSetup.conf

GIMP/
remmina/
freerdp/

*.bak