* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
    color: #00ffff;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #1a1a1a;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 8px;
    margin: 3px;
    padding: 0 5px;
    transition: all 0.3s ease, box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button:hover {
    background: rgba(0, 255, 255, 0.1);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

button.active {
    box-shadow: inset 0 -2px #ffff00;
}

#battery,
#cpu,
#memory,
#custom-gpu,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
    margin: 1px 1px;
    background: rgba(0, 20, 20, 0.5);
    border-radius: 8px;
    transition: all 0.3s ease;
}

#battery:hover,
#cpu:hover,
#memory:hover,
#custom-gpu:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#idle_inhibitor:hover,
#mpd:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#mode {
    background-color: #ff0040;
    color: #000000;
    border-radius: 8px;
    margin: 2px;
    padding: 0 8px;
}

#window,
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #00ffff;
    margin: 1px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#workspaces button.focused {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#workspaces button.urgent {
    background-color: #ff0040;
    color: #000000;
}

#clock {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
    padding: 0 8px;
    margin: 2px 2px;
    border-radius: 8px;
    font-size: 13px;
    transition: all 0.3s ease;
}

#clock:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#battery.charging, #battery.plugged {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#battery.charging:hover, #battery.plugged:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
}

@keyframes blink {
    to {
        background-color: #ff0040;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(255, 0, 64, 0.9);
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: rgba(255, 0, 64, 0.5);
    color: #000000;
}

#power-profiles-daemon.performance:hover {
    background: rgba(255, 0, 64, 0.2);
    box-shadow: inset 0 -2px #ff0040;
    color: #ff0040;
}

#power-profiles-daemon.balanced {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
}

#power-profiles-daemon.balanced:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#power-profiles-daemon.power-saver {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#power-profiles-daemon.power-saver:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00;
}

#custom-media {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
    min-width: 100px;
}

#custom-media:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#custom-media.custom-spotify {
    background-color: rgba(0, 255, 255, 0.5);
}

#custom-media.custom-spotify:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#custom-media.custom-vlc {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#custom-media.custom-vlc:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00;
}

#mpd {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
}

#mpd:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#cpu {
    background-color: rgba(255, 0, 64, 0.5);
    color: #000000;
}

#cpu:hover {
    background: rgba(255, 0, 64, 0.2);
    box-shadow: inset 0 -2px #ff0040;
    color: #ff0040;
}

#memory {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
}

#memory:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#custom-gpu {
    background-color: rgba(0, 255, 0, 0.5);
    color: #000000;
}

#custom-gpu:hover {
    background: rgba(0, 255, 0, 0.2);
    box-shadow: inset 0 -2px #00ff00;
    color: #00ff00;
}

#disk {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#disk:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00;
}

#backlight {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#backlight:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00;
}

#network {
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000;
}

#network:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#network.disconnected {
    background-color: rgba(255, 0, 64, 0.5);
    color: #000000;
}

#network.disconnected:hover {
    background: rgba(255, 0, 64, 0.2);
    box-shadow: inset 0 -2px #ff0040;
    color: #ff0040;
}

#pulseaudio {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
    min-width: 96px;
}

#pulseaudio:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00;
}

#pulseaudio.muted {
    background-color: rgba(64, 64, 64, 0.5);
    color: #00ffff;
}

#pulseaudio.muted:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
    color: #00ffff;
}

#temperature {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#temperature:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
    color: #ffff00
}

#tray {
    background-color: rgba(0, 20, 20, 0.5);
    border-radius: 8px;
    margin: 2px;
}

#tray:hover {
    background: rgba(0, 20, 20, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#wireplumber {
    background-color: rgba(255, 255, 0, 0.5);
    color: #000000;
}

#wireplumber:hover {
    background: rgba(255, 255, 0, 0.2);
    box-shadow: inset 0 -2px #ffff00;
}

#wireplumber.muted {
    background-color: rgba(255, 0, 64, 0.5);
    color: #00ffff;
}

#wireplumber.muted:hover {
    background: rgba(255, 0, 64, 0.2);
    box-shadow: inset 0 -2px #ff0040;
}

#mpd.stopped {
    background-color: rgba(64, 64, 64, 0.5);
    border: 2px solid transparent;
}

#mpd.stopped:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#mpd.paused {
    background-color: rgba(255, 255, 0, 0.5);
    border: 2px solid transparent;
}

#mpd.paused:hover {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: inset 0 -2px #00ffff;
}

#custom-power {
    background-color: rgba(255, 0, 64, 0.5);
    color: #000000;
    font-size: 18px;
    border-radius: 8px;
    margin: 2px 2px;
    padding: 0 8px;
    padding-right: 12px;
    transition: all 0.3s ease;
}

#custom-power:hover {
    background: rgba(255, 0, 64, 0.2);
    box-shadow: inset 0 -2px #ff0040;
    color: #ff0040;
}
